* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.history {
    border-radius: 5px;
    background: rgb(0 0 0 / 3%);

}
.rencent-product-img {
    width: 50px;
    height: 50px;
    background: rgb(255 255 255 / 15%);
    margin-right: 10px;
    border-radius: 7px;
    border: 1px solid rgb(255 255 255 / 25%);
}
.rencent-product-img img {
    width: 100%;
    height: 100%;
}
.name {
    display: flex;
    align-items: center;
}
.name p {
    margin-bottom: 0;
}
tr {
    border-bottom: 1px solid #ccc;
}
th {
    padding: 0.5rem 0.5rem;
 
}
.user {
    margin: 1rem 0.5rem;
    font-weight: 600;
}
table {
   margin-left: auto;
   margin-right: auto;
}
.table-res {  

    overflow: auto;
    white-space: nowrap;

}

